a {
    display: inline-block;
    color: black;
    background-color: lightblue;
    text-decoration: none;
    font-family: Arial;
    padding: 20px 40px
}

* {
    font-family: "Times New Roman", Helvetica;
}

h1, h2
{
    font-weight: bold;
    color: lightcoral;
}

p {
    font-size: 20px;

}

li {
    font-size: 18px;
}

a:hover {
    color: white;
    background-color: darkblue;
    text-decoration: none;
    font-family: Arial;
    padding: 20px 40px;
    display: inline-block;
}